* {
    margin: 0;
    padding: 0;
    background: black;
}
html {
    overflow: auto;
}

#photos {
    top: 10px;
    bottom: 10px;
    width: 300px;
    right: 10px;
    position: absolute;
}

#photos img {
    width: 300px;
}

#current {
    width: 512px;
    height: 288px;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
}

#current img {
    position: absolute;
}

#preview {
    width: 512px;
    height: 288px;
    position: absolute;
    bottom: 10px;
    left: 10px;
}
