* {
    margin: 0;
    padding: 0;
    background: black;
}
html {
    overflow: auto;
}

#photos {
    top: 10px;
    bottom: 10px;
    width: 300px;
    right: 10px;
    position: absolute;
}

#photos img {
    width: 300px;
    cursor: pointer;
}

#deploy {
    display: block;
    cursor: pointer;
    background: url(../img/arrow.png) no-repeat;
    width: 60px;
    height: 60px;
    left: 236px;
    bottom: 308px;
    position: absolute;
}

#current {
    width: 512px;
    height: 288px;
    position: fixed;
    top: 10px;
    left: 10px;
    overflow: hidden;
    z-index: 1000;
    cursor: none;
}

#current img {
    position: absolute;
}

#preview {
    width: 512px;
    height: 288px;
    position: fixed;
    bottom: 10px;
    left: 10px;
}
